@font-face {
    font-family: 'AvantGardeGothicCTT';
    src: url('font/AvantGardeGothicC-Demi.eot');
    src: url('font/AvantGardeGothicC-Demi.eot?#iefix') format('embedded-opentype'), url('font/AvantGardeGothicC-Demi.woff2') format('woff2'), url('font/AvantGardeGothicC-Demi.woff') format('woff'), url('font/AvantGardeGothicC-Demi.ttf') format('truetype'), url('font/AvantGardeGothicC-Demi.svg#AvantGardeGothicC-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*@font-face {
    font-family: 'AvantGardeGothicC';
    src: url('font/AvantGardeGothicC.eot');
    src: url('font/AvantGardeGothicC.eot?#iefix') format('embedded-opentype'), url('font/AvantGardeGothicC.woff2') format('woff2'), url('font/AvantGardeGothicC.woff') format('woff'), url('font/AvantGardeGothicC.ttf') format('truetype'), url('font/AvantGardeGothicC.svg#AvantGardeGothicC') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}*/


/*@font-face {
    font-family: 'AvantGardeGothicC';
    src: url('font/AvantGardeGothicC-Book.eot');
    src: url('font/AvantGardeGothicC-Book.eot?#iefix') format('embedded-opentype'), url('font/AvantGardeGothicC-Book.woff2') format('woff2'), url('font/AvantGardeGothicC-Book.woff') format('woff'), url('font/AvantGardeGothicC-Book.ttf') format('truetype'), url('font/AvantGardeGothicC-Book.svg#AvantGardeGothicC-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}*/

@font-face {
    font-family: 'AvantGardeGothicC';
    src: url('font/AvantGardeCTT.eot');
    src: url('AvantGardeCTT.eot?#iefix') format('font/embedded-opentype'), url('font/AvantGardeCTT.woff2') format('font/woff2'), url('font/AvantGardeCTT.woff') format('woff'), url('font/AvantGardeCTT.ttf') format('truetype'), url('font/AvantGardeCTT.svg#AvantGardeCTT') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    -webkit-font-smoothing: antialiased;
}

body {
    color: black;
    overflow-x: hidden!important;
    font-family: "AvantGardeGothicC";
}

#reveal1,
#reveal3,
#reveal2,
#reveal4 {
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#reveal1.visible,
#reveal3.visible,
#reveal2.visible,
#reveal4.visible {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.digit {
    opacity: 0;
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.digit.visible {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.panel {
    height: auto;
    width: 100%;
    background-color: #ffffff;
}

.blue {
    color: #005BDE;
}

.logo {
    width: auto;
    height: 2.96vw;
}

.container {
    /*max-width: 1920px;*/
    max-width: 100%;
    width: 100%;
    padding-left: 6.61458vw;
    padding-right: 6.61458vw;
}

header {
    padding-top: 4.0625vw;
    font-family: 'AvantGardeGothicCTT';
}

.menu {
    font-style: normal;
    font-weight: bold;
    font-size: 1.042vw;
    line-height: 1.302vw;
    text-transform: uppercase;
    font-family: 'AvantGardeGothicC';
}

.menu-item-active {
    border-bottom: #005BDE;
    border-bottom-width: 0.063rem;
    border-bottom-style: solid;
    width: fit-content;
}

.badge {
    color: black;
}

.b-1 {
    background: #005BDE;
    border: 1.5px solid #005BDE;
    box-sizing: border-box;
    border-radius: 34.5px;
    padding: 9px 18px;
    padding-right: 14px;
    color: #ffffff;
}

footer {
    background: #005BDE;
    padding-bottom: 4.73958vw;
    padding-top: 3.4375vw;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-family: 'AvantGardeGothicCTT';
}

.f-cont-1 {
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    font-size: 1.04166vw;
    line-height: 1.5625vw;
    margin-bottom: 2.91666vw;
    font-family: 'AvantGardeGothicC';
    font-weight: bold;
}

.f-cont-2 {
    font-size: 4.42708vw;
    line-height: 5.05208vw;
    margin-bottom: 2.76041vw;
}

a {
    text-decoration: none;
    color: black;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.4);
}

header .txt-14:hover {
    color: #005BDE;
}

.item-menu-footer-2 {
    font-size: 1.82291vw;
    line-height: 2.70833vw;
    text-transform: uppercase;
    margin-top: 2.76041vw;
}

.f-cont-3 {
    text-transform: uppercase;
    font-size: 1.04166vw;
    line-height: 1.19791vw;
    margin-bottom: 1.25vw;
}

.f-cont-4 {
    font-weight: normal;
    font-size: 1.51041vw;
    line-height: 2.29166vw;
    font-family: "AvantGardeGothicC";
}

.f-2 {
    margin-bottom: 5.20833vw;
}

.footer-animation {
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    color: #000000;
    font-size: 1.04166vw;
    line-height: 1.30208vw;
    font-family: 'AvantGardeGothicC';
}

.social-animation a {
    color: #005BDE;
}

.animation {
    margin-bottom: 120px;
}

.cont-1 {
    font-style: normal;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 1.04166vw;
    line-height: 1.5625vw;
    margin-bottom: 2.91666vw;
    font-family: 'AvantGardeGothicC';
}

.cont-2 {
    font-style: normal;
    font-weight: bold;
    font-size: 4.43vw;
    line-height: 5.05vw;
    font-family: 'AvantGardeGothicCTT';
}

.list-group-item {
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25vw;
    line-height: 1.87vw;
    padding: 0px;
    font-family: "AvantGardeGothicC";
}

.numbers {
    font-style: normal;
    font-weight: bold;
    color: #005BDE;
    font-size: 8.33vw;
    line-height: 10.31vw;
    text-align: center;
    margin-top: 9.79166vw;
    margin-bottom: 2.86458vw;
    font-family: 'AvantGardeGothicCTT';
}

.numbers span {
    font-style: normal;
    font-weight: normal;
    font-size: 1.25vw;
    line-height: 1.875vw;
    text-align: center;
    color: #000000;
    font-family: "AvantGardeGothicC";
}

.item-do {
    font-size: 52px;
}

.bt-blue-1 {
    color: #005BDE;
    font-style: normal;
    font-weight: normal;
    font-size: 3.49vw;
    line-height: 4.22vw;
    border: 3.477px solid #005BDE;
    box-sizing: border-box;
    border-radius: 2.479vw;
    padding: 0px 29px 12px 23px;
    font-family: 'AvantGardeGothicCTT';
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.tabs-con,
.why-we {
    margin-top: 7.96875vw;
    margin-right: 0%;
}

.w-w-1 {
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    font-size: 6.25vw;
    line-height: 7.14vw;
    margin-bottom: 1.92708vw;
    font-family: 'AvantGardeGothicCTT';
}

.w-w-2 {
    color: #005BDE;
    font-style: normal;
    font-weight: bold;
    font-size: 2.34vw;
    line-height: 2.91vw;
    padding-left: 6.5rem;
    font-family: 'AvantGardeGothicCTT';
}

.w-w-3 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.51vw;
    line-height: 2.24vw;
    margin-bottom: 4.58333vw;
    font-family: "AvantGardeGothicC";
}

.nav-pills .nav-link {
    text-transform: uppercase;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 1.04166vw;
    line-height: 1.04166vw;
    border: 1px solid #000000;
    border-radius: 1.796875vw;
    margin-right: 1.25rem;
    margin-bottom: 5.563rem;
    font-family: 'AvantGardeGothicC';
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.nav-link.active {
    font-weight: bold;
    font-family: 'AvantGardeGothicCTT';
}

.name-item {
    font-style: normal;
    font-weight: bold;
    font-size: 6.25rem;
    line-height: 8.75rem;
    border-bottom-width: 0.25rem;
    border-bottom-style: solid;
    color: #ffffff;
    font-family: 'AvantGardeGothicCTT';
    height: 136px;
}

.size-item {
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3.5rem;
    padding-top: 5.188rem;
    padding-right: 6rem;
    font-family: 'AvantGardeGothicCTT';
}

.card-index-1 {
    border: none;
    height: 100%;
}

.foot-card {
    margin-top: 2rem;
}

.blue-bt {
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #005BDE;
    border: 1px solid #005BDE;
    padding: .5rem 1rem;
    border-radius: 34.5px;
    font-size: 1.04vw;
    line-height: 1.25vw;
    font-family: 'AvantGardeGothicC';
}

.foot-card-inf {
    font-style: normal;
    font-weight: normal;
    font-size: 1.25vw;
    line-height: 2.25rem;
    font-family: "AvantGardeGothicC";
}

blue {
    font-style: normal;
    font-weight: bold;
    color: #005BDE;
    font-size: 2.08vw;
    line-height: 2.5vw;
    font-family: 'AvantGardeGothicCTT';
}

.animation-cont {
    overflow-x: hidden;
    height: 830px;
    margin-top: 100px;
}

.txt-animation {
    overflow-x: hidden;
    background-size: 100% 100%;
    z-index: 1;
    height: 182px;
    width: 100%;
    background-image: url(index-animation-img/txt.svg);
    animation: slidein 25s infinite linear;
}

@keyframes slidein {
    to {
        background-position: -10000px;
    }
}

.item-animation-1 {
    overflow: hidden;
    position: absolute;
    width: 595px;
    height: 407px;
    top: 528px;
    background-image: url(index-animation-img/1.png);
    background-size: 100% 100%;
    z-index: 1000;
    animation: mov 7s linear infinite;
}

.item-animation-2 {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    top: 228px;
    width: 429px;
    height: 590px;
    background-image: url(index-animation-img/2.png);
    background-size: 100% 100%;
    z-index: 1000;
    animation: mov 7s linear 1.75s infinite;
}

.item-animation-3 {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 595px;
    height: 407px;
    top: 554px;
    background-image: url(index-animation-img/3.png);
    background-size: 100% 100%;
    z-index: 1000;
    animation: mov 7s linear 3.2s infinite;
}

.item-animation-4 {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 485px;
    height: 365px;
    top: 444px;
    background-image: url(index-animation-img/4.png);
    background-size: 100% 100%;
    z-index: 1000;
    animation: mov 7s linear 4.9s infinite;
}

.item-animation-5 {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 116px;
    top: 576px;
    background-image: url(index-animation-img/5.png);
    background-repeat: no-repeat;
    z-index: 1000;
}

@keyframes mov {
    from {
        margin-left: 100%;
        visibility: visible;
    }
    to {
        margin-left: -50%;
    }
}

.contac-1 {
    margin-top: 6.61458vw;
    margin-bottom: 7.70833vw;
}

.contac-2 {
    font-style: normal;
    font-weight: bold;
    color: #000000;
    font-size: 2.60416vw;
    line-height: 3.64583vw;
    margin-bottom: 2.29166vw;
    font-family: 'AvantGardeGothicCTT';
}

.contac-3 {
    font-style: normal;
    color: #000000;
    margin-top: 1.04166vw;
    font-size: 1.51083vw;
    line-height: 2.24vw;
}

.contac-3,
.img-contac {
    margin-bottom: 8.33333vw;
}

.tab-pane>.row {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.tab-pane>.row::-webkit-scrollbar {
    display: none;
    width: 10px;
    height: 10px;
    background-color: white;
}

.tab-pane>.row:hover::-webkit-scrollbar {
    display: initial;
}

.tab-pane>.row::-webkit-scrollbar-thumb {
    background-color: white;
}

.tab-pane>.row>.col-auto {
    display: inline-block;
    padding-right: 6.2vw;
}

.head-room {
    background-image: url(img/sunrise1.png);
    background-size: cover;
    background-position: center;
    width: auto;
    height: 68.08333vw;
    margin-bottom: 5.41666vw;
}

.name-room {
    margin-top: 20.88583vw;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
    border-bottom-style: solid;
    font-size: 7.29166vw;
    line-height: 10.20833vw;
    border-bottom-width: 0.438rem;
    font-family: 'AvantGardeGothicCTT';
    height: 9.89583vw;
}

.txt-sal {
    font-style: normal;
    font-weight: normal;
    color: #000000;
    font-size: 1.51041vw;
    line-height: 2.29166vw;
    font-family: "AvantGardeGothicC";
}

.blue-bt-s {
    margin-top: 2.91666vw;
    color: #005BDE;
    border: 0.08rem solid #005BDE;
    box-sizing: border-box;
    border-radius: 2.30141vw;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
}

.img-sal {
    margin-top: 6.77083vw;
}

.sal-cont-1 {
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.70225vw;
    line-height: 2.39583vw;
    margin-top: 7.5vw;
    margin-bottom: 5.9375vw;
    font-family: 'AvantGardeGothicCTT';
}

.sal-cont-2 {
    font-size: 3.57525vw;
    line-height: 5vw;
    color: #000000;
    text-transform: lowercase;
}

.union {
    width: 1.5625vw;
    height: auto;
}

.txt-union {
    padding-left: 0.80%;
    padding-right: 1.25%;
}

.space-1 {
    margin-top: 6.82333vw;
}

.links-space {
    font-style: normal;
    font-weight: normal;
    text-transform: lowercase;
    color: #000000;
    font-size: 1.51041vw;
    line-height: 2.29166vw;
    padding-bottom: 4.84375vw;
    font-family: "AvantGardeGothicC";
}

.card-space-1 {
    width: 42.438rem;
    height: auto;
}

.foot-card-space {
    margin-top: 0.74166vw;
}

.space-tabs>.row {
    display: flex;
    overflow-x: auto;
}

.card-space-2 {
    margin-top: 3.813rem;
    width: 85.813rem;
    height: auto;
    padding: 0%;
}

.card-space-3 {
    margin-top: -9.51083vw;
    width: 59.375rem;
    height: auto;
    padding: 0%;
    padding-right: 61px;
}

.card-space-3>.space-item {
    padding: 0%;
}

.card-space-4 {
    margin-top: -13.813rem;
}

.card-space-4>.space-item {
    width: 44.375rem;
    height: auto;
    padding: 0%;
}

.card-space-5 {
    margin-top: 4.25rem;
    width: 86.25rem;
    height: auto;
    padding: 0%;
}

.card-space-6 {
    margin-top: -13.813rem;
}

.card-space-6>.space-item {
    width: 50.375rem;
    height: auto;
    padding: 0%;
}

.card-space-7 {
    margin-top: -7.813rem;
}

.card-space-7>.space-item {
    width: 52.5rem;
    height: auto;
    padding: 0%;
    padding-right: 61px;
}

.card-space-8 {
    margin-top: -7.813rem;
    margin-bottom: 10.313rem;
}

.card-space-8>.space-item {
    width: 51.25rem;
    height: auto;
    padding: 0%;
}

.menu>.row>.col-auto {
    padding-left: 1.5625vw;
    padding-right: 1.5625vw;
}

.txt-14 {
    left: 105%!important;
}

.txt-14-1 {
    left: 103%!important;
}

.txt-14-2 {
    padding-left: 9.333vw;
}

.offcanvas-footer {
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-pills .nav-link.active {
    border-color: #82b5ff;
}

.tabs-con {
    padding-right: 0%;
}

.item-menu-footer-2.f-2>.col-auto {
    padding-right: 37px;
}

.w-4 {
    padding-left: 3.5rem;
}

.copy {
    height: 1.19791vw;
    width: auto;
}

.item-sal {
    font-size: 3.5rem;
    padding-right: 9rem;
    padding-top: 7.188rem;
}

.img-1 {
    /*width: 595px;
    height: auto;*/
    padding-right: 6.66666vw;
}

.img-1-1 {
    width: 100%;
    max-width: 100%;
}

.badge-1 {
    font-size: .75em;
}

.txt-none {
    font-size: .05em;
    line-height: .55rem;
    color: #ffffff;
}

.txt-bt {
    padding-right: 0.325rem;
    padding-left: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}

.card-center {
    height: 11.188rem;
    margin-left: 1.813rem;
}

.card-center-space {
    height: 11.188rem;
    margin-left: 1.813rem;
}

.sup-1 {
    padding-left: .2rem;
}

.num-1,
.num-2,
.num-4 {
    padding-top: 3.5rem;
}

.num-3 {
    padding-top: 4.5rem;
}

.space-title {
    margin-bottom: 1.35416vw;
}

.nav-space {
    padding-bottom: 8.38541vw;
}

.menu-1 {
    padding-right: 0.7812vw!important;
}

.card {
    border-style: hidden;
}

.inf {
    align-items: flex-end;
}

.row-item-1 {
    width: 35.36vw;
    background-image: url(img/110_\ 3.png);
    background-size: cover;
    height: 24.48vw;
    /*margin-right: calc(var(--bs-gutter-x) * .5);
    margin-left: calc(var(--bs-gutter-x) * .5);*/
}

.size-item-space {
    top: -3.5rem;
    padding-top: 0%;
    padding-right: 0%;
}

.row-item-2 {
    width: 71.51vw;
    background-image: url(img/110_\ 5.png);
    background-size: cover;
    height: 49.01vw;
    margin-left: auto;
}

.row-item-3 {
    width: 46.30vw;
    background-image: url(img/DSCF2729\ 3.png);
    background-size: cover;
    height: 31.97vw;
    /*margin-right: calc(var(--bs-gutter-x) * .5);
    margin-left: calc(var(--bs-gutter-x) * .5);*/
}

.row-item-4 {
    width: 36.97vw;
    background-image: url(img/DSCF2681\ 3.png);
    background-size: cover;
    height: 25.21vw;
    margin-left: auto;
}

.foo-item-space-1 {
    width: 36.97vw;
}

.row-item-5 {
    width: 71.875vw;
    background-image: url(img/1612462207_76-p-fon-seroi-komnati-104\ 7.png);
    background-size: cover;
    height: 49.375vw;
    /* margin-right: calc(var(--bs-gutter-x) * .5);
    margin-left: calc(var(--bs-gutter-x) * .5);*/
}

.row-item-6 {
    width: 41.979vw;
    background-image: url(img/110_\ 5.png);
    background-size: cover;
    height: 28.77vw;
    margin-left: auto;
}

.foo-item-space-2 {
    width: 41.979vw;
}

.row-item-7 {
    width: 40.573vw;
    background-image: url(img/DSCF2729\ 3.png);
    background-size: cover;
    height: 28.016vw;
    /*margin-right: calc(var(--bs-gutter-x) * .5);
    margin-left: calc(var(--bs-gutter-x) * .5);*/
}

.row-item-8 {
    width: 41.979vw;
    background-image: url(img/DSCF2681\ 3.png);
    background-size: cover;
    height: 28.77vw;
    margin-left: auto;
}

.row-card-space-2 {
    margin-top: 3.813rem;
}

.card-img-ind {
    height: 35.256vw;
    width: 51.2167vw;
}

@media (max-width: 767.5px) {
    .card-img-ind {
        height: 46.656vw;
        width: 69.2167vw;
    }
    .row-item {
        width: auto;
    }
    .logo {
        width: auto;
        height: 6.43vw;
    }
    .container {
        overflow-x: hidden;
        max-width: 100%;
        width: auto;
        padding-left: 6.37%;
        padding-right: 6.37%;
    }
    .navbar>.container-fluid {
        margin-top: 1vw;
        overflow-x: hidden;
        max-width: 100%;
        /*padding-left: 6.37%;*/
    }
    header {
        padding-top: 0%;
    }
    .offcanvas-body.menu {
        font-size: 10.1333vw;
        line-height: 12vw;
    }
    .b-1 {
        border: 0.80px solid #005BDE;
        padding: 1.25vw 2.1875vw;
        font-size: 2.13333vw;
        line-height: 2.66666vw;
        border-radius: 22px;
        text-transform: uppercase;
    }
    .arrow {
        width: auto;
        height: 3.2vw;
    }
    .movil-1 {
        margin-left: 33%;
    }
    .offcanvas-body {
        margin-top: 35vw;
    }
    .navbar-light .navbar-toggler {
        color: rgba(0, 0, 0, 0);
        border: none;
    }
    .invert {
        filter: invert(100%);
        width: 90px;
        height: auto;
    }
    .item-menu-footer {
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 19px;
        color: #005BDE;
        text-transform: uppercase;
    }
    .offcanvas {
        padding-left: 4.20%;
        padding-right: 4.20%;
        padding-bottom: 7.54%;
    }
    .offcanvas-header {
        padding-top: 7.54%;
    }
    footer {
        padding-top: 6.1%;
        padding-bottom: 3.71%;
    }
    .item-menu-footer-2 {
        font-size: 3.46666vw;
        line-height: 5.33333vw;
    }
    .f-cont-1 {
        font-size: 2.13333vw;
        line-height: 2.4vw;
        margin-bottom: 5.144%;
    }
    .f-cont-2 {
        font-size: 5.86666vw;
        line-height: 6.66666vw;
        margin-bottom: 21.6%;
    }
    .f-cont-3 {
        font-size: 2.13333vw;
        line-height: 2.4vw;
        margin-bottom: 2.4%;
    }
    .f-cont-4 {
        font-size: 2.66666vw;
        line-height: 4vw;
        margin-bottom: 10.85%;
    }
    .link-menu-m {
        color: #005BDE;
    }
    .offcanvas.show {
        width: 100%;
    }
    .footer-animation {
        font-size: 2.13333vw;
        line-height: 2.66666vw;
    }
    .footer-animation .col-auto {
        padding-left: 0%;
        padding-right: 0%;
    }
    .footer-animation .col-auto .row .col-auto {
        padding-right: calc(var(--bs-gutter-x) * .25);
        padding-left: calc(var(--bs-gutter-x) * .25);
    }
    .animation {
        margin-bottom: 9.1%;
    }
    .cont-1 {
        font-size: 2.13333vw;
        line-height: 3.2vw;
        margin-bottom: 5.144%;
    }
    .cont-2 {
        font-size: 8vw;
        line-height: 9.33333vw;
    }
    .list-group-item {
        font-size: 2.4vw;
        line-height: 3.46666vw;
        margin-top: 1.875rem;
    }
    .enumerate {
        width: 6px;
        height: auto;
    }
    .numbers {
        font-size: 15.2vw;
        line-height: 18.13333vw;
        margin-top: 8.53333vw;
        margin-bottom: 5.21866vw;
    }
    /*.numbers-2>.col-auto {
        padding-right: 13.33333vw;
    }
    .numbers-2>.col-auto>.row {
        padding-left: calc(var(--bs-gutter-x) * .5);
    }*/
    .num-mv {
        padding-right: 0%;
    }
    .num-mv>.col-auto {
        padding-right: 0%;
    }
    .numbers span {
        font-size: 2.4vw;
        line-height: 3.46666vw;
        margin-bottom: 1.688rem;
    }
    .item-do {
        font-size: 1.125rem;
        padding-right: .25rem;
    }
    .bt-blue-1 {
        font-size: 21px;
        line-height: 25px;
        border: 0.794312px solid #005BDE;
        box-sizing: border-box;
        border-radius: 31.702px;
        padding: 0px 14px 3px 9px;
    }
    .tabs-con {
        margin-top: 16.13333vw;
        margin-right: 0%;
        padding-right: 0%;
    }
    .why-we {
        margin-top: 4.313rem;
    }
    .w-w-1 {
        margin-bottom: 0.625rem;
    }
    .w-w-2 {
        font-size: 4.53333vw;
        line-height: 5.33333vw;
        padding-left: 2.5rem;
    }
    .w-w-3 {
        font-size: 2.4vw;
        line-height: 3.73333vw;
        margin-bottom: 2.688rem;
    }
    .space-title {
        font-size: 10.66666vw;
        line-height: 12.26666vw;
    }
    .nav-pills .nav-link {
        font-size: 2.13333vw;
        line-height: 2.66666vw;
        margin-right: 0.375rem;
        margin-bottom: 2.188rem;
        padding: 0.313rem;
        border-radius: 3.30509vw;
        border: 0.001vw solid #000000;
    }
    .nav-pills .nav-link.active {
        border-color: #0d6efd;
    }
    .name-item {
        font-size: 2.188rem;
        line-height: 3.063rem;
        height: 53px;
    }
    .size-item {
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding-top: 2.188rem;
        padding-right: 2.5rem;
    }
    .card-index {
        width: 285px;
        height: auto;
        padding-right: 10px;
    }
    .foot-card {
        margin-top: 0.688rem;
    }
    .blue-bt {
        font-size: 2.13333vw;
        line-height: 2.4vw;
        padding: .15rem .5rem;
        border: 0.001vw solid #005BDE;
    }
    .foot-card-inf {
        font-size: 2.13vw;
        line-height: 3.2vw;
    }
    blue {
        font-size: 3.73vw;
        line-height: 4.53vw;
    }
    .txt-animation {
        overflow: hidden;
        height: 65px;
        width: 100%;
        background-size: 100% 100%;
        animation: slidein 50s infinite linear;
    }
    .animation-cont {
        overflow: hidden;
        height: 566px;
        margin-bottom: 64px;
        margin-top: 73px;
    }
    .item-animation-1 {
        box-sizing: border-box;
        max-width: 100%;
        width: 100%;
        overflow: hidden;
        position: absolute;
        height: 87px;
        top: 126px;
        animation: mov1 7s linear infinite;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 200%;
    }
    .item-animation-2 {
        overflow: hidden;
        position: absolute;
        visibility: visible;
        box-sizing: border-box;
        max-width: 100%;
        width: 100%;
        height: 210px;
        top: 158px;
        animation: mov2 7s linear 1.12s infinite;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 220%;
    }
    .item-animation-3 {
        overflow: hidden;
        position: absolute;
        visibility: visible;
        box-sizing: border-box;
        max-width: 100%;
        width: 100%;
        height: 207px;
        top: 416px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 300%;
        animation: mov3 7s linear 2.3s infinite;
    }
    .item-animation-4 {
        overflow: hidden;
        position: absolute;
        visibility: visible;
        box-sizing: border-box;
        max-width: 100%;
        width: 100%;
        height: 165.96px;
        top: 342.36px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 500%;
        animation: mov4 7s linear -2s infinite;
    }
    .item-animation-5 {
        overflow: hidden;
        position: absolute;
        visibility: visible;
        box-sizing: border-box;
        max-width: 100%;
        width: 100%;
        background-size: contain;
        background-position: 200%;
        animation: mov5 7s linear 1s infinite;
    }
    @keyframes mov1 {
        to {
            background-position: -300%;
        }
    }
    @keyframes mov2 {
        to {
            background-position: -345%;
        }
    }
    @keyframes mov3 {
        to {
            background-position: -495%;
        }
    }
    @keyframes mov4 {
        to {
            background-position: -435%;
        }
    }
    @keyframes mov5 {
        to {
            background-position: -435%;
        }
    }
    .contac-1 {
        margin-top: 2.75rem;
        margin-bottom: 2.938rem;
        font-size: 8.26666vw;
        line-height: 9.33333vw;
    }
    .contac-2 {
        font-size: 4vw;
        line-height: 5.6vw;
        margin-bottom: 0.813rem;
    }
    .contac-3 {
        margin-top: 0.375rem;
        font-size: 2.4vw;
        line-height: 3.73333vw;
    }
    .contac-3,
    .img-contac {
        margin-bottom: 1.75rem;
    }
    .head-room {
        height: 50.75rem;
        margin-bottom: 2.063rem;
    }
    .name-room {
        margin-top: 15.063rem;
        font-size: 2.938rem;
        line-height: 4.125rem;
        border-bottom-width: 0.15rem;
        height: 66px;
        margin-left: 50px;
    }
    .txt-sal {
        font-size: 2.4vw;
        line-height: 3.73333vw;
    }
    .blue-bt-s {
        margin-top: 3.46666vw;
        border: 0.08rem solid #005BDE;
        border-radius: 2.762rem;
        padding: 0.75vw 2.5vw;
    }
    .img-sal {
        margin-top: 2.938rem;
    }
    .sal-cont-1 {
        font-size: 0.563rem;
        line-height: 0.813rem;
        margin-top: 2.313rem;
        margin-bottom: 2.313rem;
    }
    .sal-cont-2 {
        font-size: 1.125rem;
        line-height: 1.563rem;
    }
    .union {
        width: 8px;
        height: auto;
    }
    .space-1 {
        margin-top: 0.5rem;
    }
    .links-space {
        font-size: 2.4vw;
        line-height: 3.73vw;
        padding-bottom: 4px;
    }
    .space-item {
        margin-bottom: 51px;
    }
    .card-space-2 {
        margin-top: 0%;
    }
    .card-space-3 {
        margin-top: 0%;
        width: auto;
    }
    .card-space-4 {
        margin-top: 0%;
    }
    .card-space-5 {
        margin-top: 0%;
    }
    .card-space-6 {
        margin-top: 0%;
    }
    .card-space-7 {
        margin-top: 0%;
    }
    .card-space-8 {
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .txt-14 {
        left: 102%!important;
    }
    .item-menu-footer-2.f-2>.col-auto {
        padding-right: 10px;
    }
    .w-4 {
        padding-left: 1.5rem;
    }
    .copy {
        height: 2.66666vw;
        width: auto;
    }
    .foot-card-space {
        margin-top: 0.5rem;
    }
    .item-sal {
        font-size: 1.25rem;
        padding-right: 4rem;
        padding-top: 2.188rem;
    }
    .txt-none {
        line-height: 0%;
        font-size: 0%;
    }
    .txt-bt {
        padding-right: 1vw;
    }
    .sup-1 {
        padding-left: .1rem;
    }
    .num-1,
    .num-2,
    .num-4 {
        padding-top: 0.75rem;
    }
    .num-3 {
        padding-top: 1rem;
    }
    .card-center {
        height: 5rem;
    }
    .nav-space {}
    .card-space-2 {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }
    .card-space-3 {
        padding-right: 0%;
    }
    .card-space-3>.space-item {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }
    .card-space-4 {}
    .card-space-4>.space-item {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }
    .card-space-5 {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }
    .card-space-6 {}
    .card-space-6>.space-item {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }
    .card-space-7 {}
    .card-space-7>.space-item {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }
    .card-space-8 {}
    .card-space-8>.space-item {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }
    .card-center-space {
        height: 4.188rem;
        margin-left: 0.813rem;
    }
    .img-1 {
        padding-right: calc(var(--bs-gutter-x) * .5);
    }
    .movil-img-sal {
        width: 100%;
    }
    .menu {
        font-size: 2.13333vw;
        line-height: 2.66666vw;
    }
    .menu-item-active {
        border-bottom-width: 0.063rem;
    }
    .menu>.row>.col-auto {
        padding-left: 0;
        padding-right: 1.875rem;
    }
    .row.cont-1 {
        height: 4.6875vw;
        align-items: center;
        align-content: center;
    }
    .movil-4-number {
        padding-right: 16.25vw;
    }
}

@media (max-width: 576px) {
    .station-movil {
        position: absolute;
        left: 35%;
    }
}

@media (min-width: 576px) and (max-width:767.5px) {
    .card-img-ind {
        height: 35.256vw;
        width: 51.2167vw;
    }
    .f-cont-2 {
        margin-bottom: 0%;
    }
    .f-cont-4 {
        margin-bottom: 0%;
    }
    .ele-ind {
        width: 241px;
        margin: 0%
    }
    header {
        padding-top: 1.5rem;
    }
    .m-space {
        margin-bottom: 4.375rem;
    }
    .w-w-3 {
        font-style: normal;
        font-weight: normal;
        font-size: 1.8vw;
        line-height: 2.24vw;
        margin-bottom: 5.625rem;
        font-family: "AvantGardeGothicC";
    }
    .logo {
        width: auto;
        height: 3.43vw;
    }
    .menu>.row>.col-auto {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
    .f-cont-3 {
        font-size: 1.6vw;
        line-height: 2.4vw;
    }
    .f-cont-4 {
        font-size: 10px;
        line-height: 15px;
    }
    .numbers {
        font-size: 12.2vw;
        line-height: 16.13333vw;
    }
    .b-1 {
        border: 0.8px solid #005BDE;
        padding: 0.5vw 1.5vw;
        font-size: 1.5vw;
        line-height: 2.66666vw;
        border-radius: 22px;
        text-transform: uppercase;
    }
    .txt-bt {
        padding-right: 0.5vw;
    }
    .menu {
        font-size: 1.5vw;
        line-height: 2.66666vw;
    }
}

@media (min-width: 767.6px) and (max-width: 1020px) {
    .logo {
        width: auto;
        height: 3.38vw;
    }
    .container {
        max-width: 100%;
        width: auto;
        padding-left: 4.20%;
        padding-right: 4.20%;
    }
    header {
        padding-top: 3.56%;
    }
    .menu {
        font-size: 1.31894vw;
        line-height: 1.55875vw;
    }
    .b-1 {
        border: 0.80px solid #005BDE;
        padding: 3px 8px;
    }
    .arrow {
        width: 20px;
        height: auto;
    }
    footer {
        padding-top: 3.84%;
        padding-bottom: 4.92%;
    }
    .f-cont-1 {
        font-size: 1.31421vw;
        line-height: 1.91158vw;
        margin-bottom: 3.20%;
    }
    .f-cont-2 {
        font-size: 5.01792vw;
        line-height: 5.73476vw;
        margin-bottom: 3.20%;
    }
    .item-menu-footer-2 {
        font-size: 2.03106vw;
        line-height: 3.10633vw;
        margin-top: 3.25%;
    }
    .copy {
        width: 100px;
        height: auto;
    }
    .f-cont-3 {
        font-size: 0.688rem;
        line-height: 0.813rem;
        margin-bottom: 1.55%;
    }
    .f-cont-4 {
        font-size: 0.875rem;
        line-height: 1.313rem;
    }
    .footer-animation {
        font-size: 1.31894vw;
        line-height: 1.55875vw;
    }
    .animation {
        margin-bottom: 7.19%;
    }
    .cont-1 {
        font-size: 1.31421vw;
        line-height: 1.91158vw;
        margin-bottom: 3.20%;
    }
    .list-group-item {
        font-size: 1.43369vw;
        line-height: 2.15053vw;
        margin-top: 2.25rem;
    }
    .enumerate {
        width: 8px;
        height: auto;
    }
    .numbers {
        font-size: 8.75299vw;
        line-height: 10.79136vw;
        margin-top: 6.83453vw;
        margin-bottom: 4.55635vw;
    }
    .numbers span {
        font-size: 1.31894vw;
        line-height: 1.91846vw;
    }
    .item-do {
        font-size: 1.438rem;
        padding-right: .5rem;
    }
    .bt-blue-1 {
        font-size: 3.82317vw;
        line-height: 4.42054vw;
        border: 1.22958px solid #005BDE;
        box-sizing: border-box;
        border-radius: 41.6624px;
        padding: 0px 16px 6px 8px;
    }
    .tabs-con,
    .why-we {
        margin-top: 5.063rem;
        margin-right: 0%;
        padding-right: 0%;
    }
    .w-w-1 {
        margin-bottom: 1.375rem;
    }
    .w-w-2 {
        padding-left: 2.5rem;
    }
    .w-w-3 {
        margin-bottom: 2.813rem;
    }
    .nav-pills .nav-link {
        font-size: 1.31421vw;
        line-height: 1.55316vw;
        margin-right: 0.688rem;
        margin-bottom: 2.688rem;
        padding: 0.375rem;
    }
    .name-item {
        font-size: 3.063rem;
        line-height: 4.313rem;
        height: 73px;
    }
    .size-item {
        font-size: 1.25rem;
        line-height: 1.75rem;
        padding-top: 2.188rem;
        padding-right: 3.5rem;
    }
    .size-item-space {
        top: -2rem;
        padding-top: 0%;
        padding-right: 0%;
    }
    .card-index {
        width: 473.56px;
        height: auto;
        padding-right: 20px;
    }
    .foot-card {
        margin-top: 1rem;
    }
    .blue-bt {
        padding: .4rem .75rem;
        font-size: 1.31421vw;
        line-height: 1.55316vw;
    }
    .foot-card-inf {
        font-size: 1.43369vw;
        line-height: 2.15053vw;
    }
    blue {
        font-size: 2.38948vw;
        line-height: 2.86738vw;
    }
    .txt-animation {
        height: 90px;
        width: 100%;
        background-size: 100% 100%;
        animation: slidein 30s infinite linear;
    }
    .animation-cont {
        height: 883px;
        margin-bottom: 0px;
        margin-top: 103px;
    }
    .item-animation-1 {
        box-sizing: border-box;
        max-width: 100%;
        width: 100%;
        overflow: hidden;
        position: absolute;
        height: 147px;
        top: 161px;
        animation: mov1 7s linear infinite;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 300%;
    }
    .item-animation-2 {
        width: 100%;
        overflow: hidden;
        position: absolute;
        visibility: visible;
        box-sizing: border-box;
        max-width: 100%;
        height: 378px;
        top: 187px;
        animation: mov2 7s linear 1.12s infinite;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 320%;
    }
    .item-animation-3 {
        width: 100%;
        overflow: hidden;
        position: absolute;
        visibility: visible;
        box-sizing: border-box;
        max-width: 100%;
        height: 330px;
        top: 623px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 400%;
        animation: mov3 7s linear 2.3s infinite;
    }
    .item-animation-4 {
        width: 100%;
        overflow: hidden;
        position: absolute;
        visibility: visible;
        box-sizing: border-box;
        max-width: 100%;
        height: 266.94px;
        top: 470.27px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 600%;
        animation: mov4 7s linear -2s infinite;
    }
    .item-animation-5 {
        width: 100%;
        overflow: hidden;
        position: absolute;
        visibility: visible;
        box-sizing: border-box;
        max-width: 100%;
        height: 180px;
        top: 845px;
        background-size: contain;
        background-position: 300%;
        animation: mov5 7s linear 1s infinite;
    }
    @keyframes mov1 {
        to {
            background-position: -300%;
        }
    }
    @keyframes mov2 {
        to {
            background-position: -345%;
        }
    }
    @keyframes mov3 {
        to {
            background-position: -495%;
        }
    }
    @keyframes mov4 {
        to {
            background-position: -435%;
        }
    }
    @keyframes mov5 {
        to {
            background-position: -435%;
        }
    }
    .contac-1 {
        margin-top: 4.625rem;
        margin-bottom: 4.063rem;
        font-size: 5.01792vw;
        line-height: 5.73476vw;
    }
    .contac-2 {
        font-size: 2.74790vw;
        line-height: 3.82317vw;
        margin-bottom: 1.25rem;
    }
    .contac-3 {
        margin-top: 0.688rem;
        font-size: 1.67264vw;
        line-height: 2.50896vw
    }
    .contac-3,
    .img-contac {
        margin-bottom: 4.25rem;
    }
    .head-room {
        height: 74.625rem;
        margin-bottom: 2.938rem;
    }
    .name-room {
        margin-top: 23.125rem;
        font-size: 4.813rem;
        line-height: 6.75rem;
        border-bottom-width: 0.25rem;
        height: 105px;
    }
    .txt-sal {
        font-size: 0.875rem;
        line-height: 1.313rem;
    }
    .blue-bt-s {
        margin-top: 2.875rem;
        border: 0.08rem solid #005BDE;
        border-radius: 2.762rem;
        padding: 0.3rem 0.8rem;
    }
    .img-sal {
        margin-top: 3.438rem;
    }
    .sal-cont-1 {
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin-top: 3.188rem;
        margin-bottom: 3.188rem;
    }
    .sal-cont-2 {
        font-size: 1.813rem;
        line-height: 2.563rem;
    }
    .union {
        width: 13px;
        height: auto;
    }
    .space-1 {
        margin-top: 4.25rem;
    }
    .links-space {
        font-size: 0.875rem;
        line-height: 1.313rem;
        padding-bottom: 52px;
    }
    .card-space-1 {
        width: 19.063rem;
        height: auto;
    }
    .card-space-2 {
        margin-top: 1.5rem;
        width: 38.625rem;
        height: auto;
    }
    .card-space-3 {
        margin-top: -4.813rem;
        width: 26.688rem;
        height: auto;
    }
    .card-space-4 {
        margin-top: -7.813rem;
    }
    .card-space-4>.space-item {
        width: 20rem;
        height: auto;
    }
    .card-space-5 {
        margin-top: 1.563rem;
        width: 38.75rem;
        height: auto;
    }
    .card-space-6 {
        margin-top: -5.813rem;
    }
    .card-space-6>.space-item {
        width: 22.75rem;
        height: auto;
    }
    .card-space-7 {
        margin-top: -3.813rem;
    }
    .card-space-7>.space-item {
        width: 24.563rem;
        height: auto;
    }
    .card-space-8 {
        margin-top: -3.813rem;
        margin-bottom: 5.25rem
    }
    .card-space-8>.space-item {
        width: 22.75rem;
        height: auto;
    }
    .menu>.row>.col-auto {
        padding-left: 17px;
        padding-right: 17px;
    }
    .txt-14 {
        left: 103%!important;
    }
    .item-menu-footer-2.f-2>.col-auto {
        padding-right: 25px;
    }
    .w-4 {
        padding-left: 1.5rem;
    }
    .copy {
        height: 14px;
        width: auto;
    }
    .foot-card-space {
        margin-top: 1rem;
    }
    .item-sal {
        font-size: 2rem;
        padding-top: 4.188rem;
        padding-right: 5.5rem;
    }
    .img-1 {
        /*width: 257.39px;*/
        padding-right: 3rem;
    }
    .txt-none {
        line-height: 0%;
        font-size: 0%;
    }
    .txt-bt {
        padding-right: 0.2rem;
    }
    .sup-1 {
        padding-left: .15rem;
    }
    .num-1,
    .num-2,
    .num-4 {
        padding-top: 1.75rem;
    }
    .num-3 {
        padding-top: 2.5rem;
    }
    .card-center {
        height: 6.5rem;
    }
    .space-title {
        margin-bottom: .8rem;
    }
    .nav-space {
        padding-bottom: 5.25rem;
    }
}

@media (min-width: 1021px) and (max-width: 1919px) {
    header {
        padding-top: 3.3625vw;
    }
    .container {
        max-width: 100%;
        width: auto;
        padding-left: 6.61%;
        padding-right: 6.61%;
    }
    .b-1 {
        padding-top: 0.36875vw;
        padding-right: 0.6vw;
        padding-bottom: 0.36875vw;
        padding-left: 0.9375vw;
    }
    .arrow {
        width: 27px;
        height: auto;
    }
    .f-cont-1 {
        margin-bottom: 2.0%;
    }
    .f-cont-2 {
        font-size: 4.42708vw;
        line-height: 5.05208vw;
        margin-bottom: 2.76041vw;
    }
    .item-menu-footer-2 {
        font-size: 1.82291vw;
        line-height: 2.70833vw;
        text-transform: uppercase;
        margin-top: 2.76041vw;
    }
    .f-cont-3 {
        font-size: 1.04166vw;
        line-height: 1.19791vw;
        margin-bottom: 1.25vw;
    }
    .f-cont-4 {
        font-size: 1.51041vw;
        line-height: 2.29166vw;
    }
    .animation {
        margin-bottom: 6.25%;
    }
    .cont-2 {
        font-size: 4.43vw;
        line-height: 5.05vw;
    }
    .list-group-item {
        font-size: 1.25vw;
        line-height: 1.87vw;
    }
    .enumerate {
        width: 13px;
        height: auto;
    }
    .item-do {
        font-size: 1.438rem;
    }
    .bt-blue-1 {
        font-size: 32px;
        line-height: 37px;
        border: 1.22958px solid #005BDE;
        box-sizing: border-box;
        border-radius: 43.6624px;
        padding: 0rem 1rem 0.375rem 0.5rem;
    }
    .tabs-con {
        margin-right: 0%;
        padding-right: 0%;
    }
    .why-we {
        margin-top: 5.063rem;
    }
    .w-w-1 {
        font-size: 6.25vw;
        line-height: 7.14vw;
        margin-bottom: 1.375rem;
    }
    .w-w-2 {
        font-size: 2.34vw;
        line-height: 2.91vw;
        padding-left: 4.75rem;
    }
    .w-w-3 {
        font-size: 1.51vw;
        line-height: 2.24vw;
        margin-bottom: 2.813rem;
    }
    .name-item {
        font-size: 3.063rem;
        line-height: 4.313rem;
        height: 70px;
    }
    .size-item {
        font-size: 1.25rem;
        line-height: 1.75rem;
        padding-top: 2.188rem;
        padding-right: 3.5rem;
    }
    .size-item-space {
        top: -2rem;
        padding-top: 0%;
        padding-right: 0%;
    }
    .card-index {
        width: 473.56px;
        height: auto;
    }
    .foot-card {
        margin-top: 1rem;
    }
    .blue-bt {
        font-size: 1.04vw;
        line-height: 1.25vw;
        padding: .45rem .75rem;
    }
    .foot-card-inf {
        font-size: 1.25vw;
        line-height: 1.125rem;
    }
    blue {
        font-size: 2.08vw;
        line-height: 2.5vw;
    }
    .txt-animation {
        height: 90px;
        width: 100%;
        background-size: 100% 100%;
        animation: slidein 30s infinite linear;
    }
    .animation-cont {
        height: 795px;
        margin-bottom: 0px;
        margin-top: 103px;
    }
    .item-animation-1 {
        box-sizing: border-box;
        max-width: 100%;
        width: 100%;
        overflow: hidden;
        position: absolute;
        height: 147px;
        top: 161px;
        animation: mov1 7s linear infinite;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 200%;
    }
    .item-animation-2 {
        width: 100%;
        overflow: hidden;
        position: absolute;
        visibility: visible;
        box-sizing: border-box;
        max-width: 100%;
        height: 378px;
        top: 287px;
        animation: mov2 7s linear 1.12s infinite;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 220%;
    }
    .item-animation-3 {
        width: 100%;
        overflow: hidden;
        position: absolute;
        visibility: visible;
        box-sizing: border-box;
        max-width: 100%;
        height: 330px;
        top: 623px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 300%;
        animation: mov3 7s linear 2.3s infinite;
    }
    .item-animation-4 {
        width: 100%;
        overflow: hidden;
        position: absolute;
        visibility: visible;
        box-sizing: border-box;
        max-width: 100%;
        height: 266.94px;
        top: 470.27px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 500%;
        animation: mov4 7s linear -2s infinite;
    }
    .item-animation-5 {
        width: 100%;
        overflow: hidden;
        position: absolute;
        visibility: visible;
        box-sizing: border-box;
        max-width: 100%;
        height: 180px;
        top: 845px;
        background-size: contain;
        background-position: 400%;
        animation: mov5 7s linear 1s infinite;
    }
    @keyframes mov1 {
        to {
            background-position: -300%;
        }
    }
    @keyframes mov2 {
        to {
            background-position: -345%;
        }
    }
    @keyframes mov3 {
        to {
            background-position: -495%;
        }
    }
    @keyframes mov4 {
        to {
            background-position: -435%;
        }
    }
    @keyframes mov5 {
        to {
            background-position: -435%;
        }
    }
    .head-room {
        height: 74.625rem;
        margin-bottom: 2.938rem;
    }
    .name-room {
        font-size: 4.813rem;
        line-height: 6.75rem;
        border-bottom-width: 0.25rem;
        height: 107px;
    }
    .sal-cont-1 {
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin-top: 3.188rem;
        margin-bottom: 3.188rem;
    }
    .sal-cont-2 {
        font-size: 1.813rem;
        line-height: 2.563rem;
    }
    .card-space-1 {
        width: 34.438rem;
        height: auto;
    }
    .card-space-2 {
        margin-top: 3.813rem;
        width: 48.813rem;
        height: auto;
    }
    .card-space-3 {
        margin-top: -5.813rem;
        width: 35.375rem;
        height: auto;
    }
    .card-space-4 {
        margin-top: -7.813rem;
    }
    .card-space-4>.space-item {
        width: 20rem;
        height: auto;
    }
    .card-space-5 {
        margin-top: 3.75rem;
        width: 47.25rem;
        height: auto;
    }
    .card-space-6 {
        margin-top: -8.813rem;
    }
    .card-space-6>.space-item {
        width: 31.75rem;
        height: auto;
    }
    .card-space-7 {
        margin-top: -7.813rem;
    }
    .card-space-7>.space-item {
        width: 25.5rem;
        height: auto;
    }
    .card-space-8 {
        margin-top: -2.813rem;
        margin-bottom: 4rem;
    }
    .card-space-8>.space-item {
        width: 30.5rem;
        height: auto;
    }
    .item-sal {
        font-size: 2rem;
        padding-top: 4.188rem;
        padding-right: 5.5rem;
    }
    .num-1,
    .num-2,
    .num-4 {
        padding-top: 1.75rem;
    }
    .num-3 {
        padding-top: 2.5rem;
    }
    .card-center {
        height: 6.5rem;
    }
    .menu {
        font-size: 1vw;
        line-height: 1.55875vw;
    }
    .menu>.row>.col-auto {
        padding-left: 1.8625vw;
        padding-right: 1.8625vw;
    }
}

@media (min-width: 1439px) and (max-width: 1919px) {
    /*.contac-2 {
        font-size: 2.438rem;
        line-height: 3rem;
        margin-bottom: 2.25rem;
    }
    .contac-3 {
        margin-top: 3.688rem;
        font-size: 1.3rem;
        line-height: 2rem;
    }*/
    .contac-4 {
        margin-bottom: 10%;
    }
    .card-space-2 {
        margin-top: 3.813rem;
        width: 70.813rem;
        height: auto;
    }
    .card-space-3 {
        margin-top: -6.813rem;
        width: 46.375rem;
        height: auto;
    }
    .card-space-4>.space-item {
        width: 32.375rem;
        height: auto;
    }
    .card-space-5 {
        margin-top: 3.75rem;
        width: 67.25rem;
        height: auto;
    }
    .card-space-6 {
        margin-top: -10.813rem;
    }
    .card-space-6>.space-item {
        width: 40.375rem;
        height: auto;
    }
    .card-space-7 {
        margin-top: -7.813rem;
    }
    .card-space-7>.space-item {
        width: 38.5rem;
        height: auto;
    }
    .card-space-8 {
        margin-top: -2.813rem;
        margin-bottom: 6rem;
    }
    .card-space-8>.space-item {
        width: 40.5rem;
        height: auto;
    }
    /*.img-1 {
        width: 479.39px;
    }*/
}

@media (min-width: 1366px) and (max-width: 1430px) {
    /*.nav-pills .nav-link {
        padding-top: 10px;
    }
    .bt-blue-1,
    .blue-bt-s {
        padding: .25rem 1rem .188rem .5rem;
    }*/
    .card-center-space {
        height: 5.188rem;
        margin-left: 1.813rem;
    }
    /*.img-1 {
        width: 460.39px;
    }*/
    .card-space-3 {
        margin-top: -6.813rem;
        width: 43.375rem;
        height: auto;
    }
    .card-space-4>.space-item {
        width: 31.375rem;
        height: auto;
    }
    .card-space-5 {
        margin-top: 4.25rem;
        width: 58.25rem;
        height: auto;
    }
    .card-space-6 {
        margin-top: -10.813rem;
    }
    .card-space-6>.space-item {
        width: 39.375rem;
        height: auto;
    }
    .card-space-7 {
        margin-top: -7.813rem;
    }
    .card-space-7>.space-item {
        width: 35.5rem;
        height: auto;
    }
    .card-space-8 {
        margin-top: -2.813rem;
        margin-bottom: 6rem;
    }
    .card-space-8>.space-item {
        width: 39.25rem;
        height: auto;
    }
}

@media (min-width: 2000px) {
    .card-space-1 {
        width: 55.438rem;
        height: auto;
    }
    .card-space-2 {
        margin-top: 3.813rem;
        width: 103.813rem;
        height: auto;
    }
    .card-space-3 {
        margin-top: -9.51083vw;
        width: 63.375rem;
        height: auto;
    }
    .card-space-4>.space-item {
        width: 77.375rem;
        height: auto;
    }
    .card-space-5 {
        margin-top: 4.25rem;
        width: 100.25rem;
        height: auto;
    }
    .card-space-6 {
        margin-top: -10.813rem;
    }
    .card-space-6>.space-item {
        width: 77.375rem;
        height: auto;
    }
    .card-space-7 {
        margin-top: -7.813rem;
    }
    .card-space-7>.space-item {
        width: 60.5rem;
        height: auto;
    }
    .card-space-8 {
        margin-top: -2.813rem;
        margin-bottom: 6rem;
    }
    .card-space-8>.space-item {
        width: 76.25rem;
        height: auto;
    }
    /*.img-1 {
        width: 845px;
        height: auto;
    }
    .img-1-1 {
        width: 845px;
    }*/
    .img-contac {
        text-align: center;
    }
    .map {
        width: 100%;
    }
    .footer-animation {
        margin-top: 10rem;
    }
    .img-1-2 {
        width: 100%;
    }
    .animation-cont {
        margin-top: 10rem;
    }
    .item-animation-1 {
        top: 598px;
    }
    .item-animation-2 {
        top: 298px;
    }
    .item-animation-3 {
        top: 624px;
    }
    .item-animation-4 {
        top: 514px;
    }
    .item-animation-5 {
        top: 646px;
    }
}

@media (min-width: 2560px) {
    .cont-2 {
        font-size: 4.43vw;
        line-height: 5.05vw;
        /*le sume 1 rem*/
    }
    .list-group-item {
        font-size: 1.25vw;
        line-height: 1.87vw;
    }
}